*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.container {
    margin: 0 auto;
    
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 80%;
    margin: 0 auto;
    
    
}
header p {
    font-size: 15px;
}
header h5 {
    font-size: 20px;
}
header img{
    width: 50%;
}

section {
    border-top: 3px solid rgb(0, 95, 53);
    height: 500px;
    width: 100%;
    background: url("https://images.unsplash.com/photo-1421218108559-eb1ff78357f5?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTV8fHJvYWR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60") center/cover;
}

form { 
width: 300px;
background-color: white;
}

